.boardWindow {
    width: 90%;
    height: 500px;
    margin: 15px auto;
    background-color: transparent;
    overflow: scroll;
}

.boardCanvas {
    background: #EBEDF0;
    position: relative;
    width: 10000px;
    height: 10000px;
}