.boardBottomPanel {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 50px;
    right: 12%;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #222222 1px solid;
    border-radius: 6px;
}

.boardBottomPanelFullScreen {
    min-width: 300px;
    max-width: 400px;
    right: 3%;
    bottom: 5%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
}

.boardBottomPanelFullScreenTl {
    right: 3%;
    bottom: 5%;
    position: fixed;
}

.boardIcon {
    color: #222222;
    margin: 0;
    width: 30px !important;
    height: 30px !important;
}

.bottomPanelButton {
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 6px;
    transition: 500ms;
}

.bottomPanelButton:hover {
    background-color: #CCCCCC;
}